#players {
  border-radius: 8px;
}

.chart::before {
  position: absolute;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: center;
  left: center;
  z-index: -1;
  display: block;
  width: 800px;
  height: 700px;
  content: " ";
  background-image: url(court.jpg);
  background-repeat: no-repeat;
  background-position: 5px 5px;
  background-size: contain;
  opacity: .8;
}

.tooltip {
  position: absolute;
  width: 170px;
  height: 100;
  padding: 2px;
  padding-top: 8px;
  font: 12px sans-serif;
  color: orange;
  text-align: center;
  background: lightslategray;
  border: 0;
  border-radius: 10px;
}

.axis-text {
  font-family: Calibri;
  font-weight: bold;
  fill: black;
  text-anchor: middle;
}

.active {
  font-weight: bold;
  fill: #000;
  fill: orangered;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: black;
  transition: fill 0.3s ease-out;
  text-anchor: middle;
}

.inactive:hover {
  fill: #e75480;
  cursor: pointer;
}
